/* Fuente importada de Google Fonts (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.punto {
    color: #1F4E70;
}

.punto:hover {
    color: white;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3689c5;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3689c5;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1F4E70;
    transition: 1s;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #1F4E70;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.timeline-steps .timeline-content .inner-circle:hover {
    background-color: white;
    transform: scale(1.15);
}

nav {
    display: flex;
    background-color: #1F4E70;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

.a-texto {
    color: #1F4E70;
    transition: 0.3s;
}

nav {
    background-color: #1F4E70;
}

.navbar-nav a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
}

.nav-link {
    transition: 0.5s;
    margin: 0.7rem;
}

.nav-link:hover {
    box-shadow: rgba(5, 0, 70, 0.35) 0px 5px 15px;
    color: white;
    transform: scale(1.15);

}

nav img {
    margin-left: 0rem;
}

main {
    background-color: #000000;
    padding: 0.25rem 0;
}

main h1,
h2,
h3 {
    font-weight: 700;
    margin: 1rem auto;
    color: white;
    text-shadow: 3px 3px #1F4E70;
}

main h1 {
    font-size: 5rem;
}

main h2,
h3 {
    font-size: 3rem;
}

main h3 {
    padding: 2rem;
}

main .imagen-noticias {
    box-shadow: rgba(31, 78, 112, 0.4) -5px 5px, rgba(189, 215, 234, 0.3) -10px 10px, rgba(64, 161, 230, 0.2) -15px 15px, rgba(59, 84, 102, 0.1) -20px 20px, rgba(50, 125, 179, 0.05) -25px 25px;
    transition: 1s;
}

main .imagen-noticias:hover {
    transform: scale(0.98);
}

footer {
    background-color: #1F4E70;
    margin: 0;
    padding: 2rem 0;
}

.redes {
    color: white;
    font-size: 1.5rem;
}

footer p {
    margin-bottom: 0;
    color: white;
    text-decoration: underline;
}

.contenedor-producciones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 0.5rem;
}

.contenedor-producciones iframe {
    padding: 1rem;
    transition: 1s;
    width: 100%;
}

.contenedor-producciones iframe:hover {
    transform: scale(1.025);
}

.galeria-presentaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.galeria-presentaciones .item-galeria {
    transition: 0.5s;
}

.galeria-presentaciones .item-galeria img {
    width: 90%;
    height: 280px;
    background-size: contain;
    padding: 0;
    border: white solid 0.25rem;
    border-radius: 0.3rem;
    box-shadow: rgba(31, 78, 112, 0.4) -5px 5px, rgba(189, 215, 234, 0.3) -10px 10px, rgba(64, 161, 230, 0.2) -15px 15px, rgba(59, 84, 102, 0.1) -20px 20px, rgba(50, 125, 179, 0.05) -25px 25px;
}

.galeria-presentaciones .item-galeria:hover {
    transform: scale(0.96);
}

.boton-home {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 1rem;
    margin-bottom: 2rem;
}

.boton-item {
    color: white;
    font-size: 1.5rem;
    background-color: #1F4E70;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    margin-right: 1rem;
    transition: 0.5s;
}

.boton-item:hover {
    transform: scale(1.15);
}

.formulario {
    background-color: white;
    border-radius: 1rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 22, 218, 0.35) 0px 5px 15px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    justify-content: center;
}

.formulario form .informacion-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1F4E70;
    font-weight: bold;
    margin: 0.5rem;
}

.formulario form .informacion-contacto p {
    margin-bottom: 0;
}

.formulario form .mensajes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.formulario form .mensajes textarea {
    min-height: 15rem;
    min-width: 22.5rem;
    resize: none;
}

.formulario form button {
    background-color: #1F4E70;
    border: none;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: white;
    margin-top: 0.7rem;
}

.formulario img {
    border-radius: 0 1rem 1rem 0;
    width: 50%;
}

input,
textarea {
    border: none;
    background-color: rgb(206, 206, 206);
    color: #1F4E70;
}

input:focus {
    outline: none !important;
    border: #1F4E70 2px solid;
}

textarea:focus {
    outline: none !important;
    border: #1F4E70 2px solid;
}

footer .redes a i {
    transition: 0.5s;
}

footer .redes a i:hover {
    padding: 0 0.5rem;
}

/* Celular */
@media (max-width: 480px) {
    main h1 {
        font-size: 3rem;
    }

    main h2,
    h3 {
        font-size: 1.7rem;
    }

    main h3 {
        padding: 1rem;
    }

    main .imagen-noticias {
        width: 83%;
        margin: auto;
    }

    .contenedor-producciones {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 400px;
        gap: 0.25rem
    }

    .contenedor-producciones iframe {
        padding: 0.25rem;
        width: 100%;
    }

    .galeria-presentaciones {
        grid-template-columns: repeat(1, 1fr);
    }

    .galeria-presentaciones .item-galeria img {
        object-fit: cover;
    }

    .formulario img {
        display: none;
    }

    .formulario form {
        margin: 0.2rem;
    }

    .formulario form .mensajes textarea {
        min-width: 10rem;
    }

    footer {
        padding: 1rem 0;
    }

    footer p {
        font-size: 0.69rem;
    }

    .boton-home {
        margin-bottom: 0.5rem;
        z-index: 5;
    }
}

/* Tableta */
@media (min-width: 481px) and (max-width: 1024px) {
    main h1 {
        font-size: 3rem;
    }

    main h2,
    h3 {
        font-size: 1.7rem;
    }

    main h3 {
        padding: 1rem;
    }

    main .imagen-noticias {
        width: 83%;
        margin: auto;
    }

    .contenedor-producciones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
        gap: 0.25rem
    }

    .contenedor-producciones iframe {
        padding: 0.25rem;
        width: 80%;
        margin: auto;
    }

    .galeria-presentaciones {
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria-presentaciones .item-galeria img {
        object-fit: cover;
    }

    .formulario img {
       /*  display: none; */
    }

    .formulario form {
        margin: 0.2rem;
    }

    .formulario form .mensajes textarea {
        min-width: 10rem;
    }

    footer {
        padding: 1rem 0;
    }

    footer p {
        font-size: 0.69rem;
    }

    .boton-home {
        margin-bottom: 0.5rem;
        z-index: 5;
    }
}

@media (max-width: 1280px) {
    main .imagen-noticias{
        margin: auto;
        width: 80%;
    }
}